.currentmenu {
  font-color: #999999;
  font-weight: 100;
}

.datetime {
  @include datetime();
}

.img-circle {
  @include border-radius(10em);
}

.l-menu .blogtitle {
  color: #C0C0C0;
  font-weight: 100;
  font-size: 3em;
  @media screen and (min-width: $min-width-tablet) {
    padding-right: 3em;
  }
  margin-left: 0;
  margin-right: 0;
}

.list-posts {
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    padding-bottom: 20px;
    list-style: none;
    list-style-type: none;
    border-bottom: 1px solid #eee;
  }
  a {
    text-decoration: none;
    text-transform: none;
    color: #333;
  }
  article {
    font-size: 0.85em;
    display: block;
    .title {
      font-size: 1.5em;
    }
  }
}

.post {
  font: $blogpost-font;
  @media screen and (min-width: $min-width-desktop) {
    width: $blogpost-width;
    padding-right: 15%;
  }
}

.post-title {
  font-size: 1.75em;
  font-weight: 500;
}

.post-text {
  font-weight: 300;
  font-size: 1.05em;
  line-height: 1.75;
  border-top: 1px solid #eee;
}

.disqus_thread {
  border-top: 1px solid #eee;
}

a.icon {
  text-decoration: none;
  color: black;
  speak: none;
  text-transform: none;
}

.socials {
  font-color: #ccc;
  h1, h2, p {
    text-align: center;
  }
  h1 {
    font-color: #444444;
    font-weight: 400;
  }
  h2 {
    font-color: #999999;
    font-weight: 100;
  }
}

.footer-img {
  width: $footer-elt-width;
  height: $footer-img-height;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include border-radius(10em);
}

.quote {
  border: 1px solid #eee;
  background-color: #ccc;
}