$footer-elt-width: 10em;
$footer-img-height: 10em;
$content-margin-top: 10em;
$content-padding-left: 10em;
$blogpost-width: 70%;
$body-font-size: 16px;
$h1-font-size: 1.2em;
$h2-font-size: 0.6em;
$min-width-tablet: 700px;
$min-width-desktop: 801px;
$blogpost-font: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Calibri", "sans-serif";

