@import '../../../app-theme.scss';

:host {
  #flowersList {
    .iron-selected {
      img {
        border: 0.5rem solid #bee2b973;
      }
    }
  }
  #model {
    .iron-selected {
      background: #bee2b973;
    }
    width: 10rem;
  }
}


.post {
  font: $blogpost-font;
  @media screen and (min-width: $min-width-desktop) {
    width: $blogpost-width;
    padding-right: 15%;
  }
}

.post-title {
  font-size: 1.75em;
  font-weight: 500;
}

.post-text {
  font-weight: 300;
  font-size: 1.05em;
  line-height: 1.75;
  border-top: 1px solid #eee;
  padding-top: 2rem;
}

.button-row {
  margin-left: -0.4rem;
  padding-top: 1rem;
}
#predict {
  background-color: #4caf50;
  color: white;
  height: 2.5rem;
}

.label {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 3rem;
}

.refresh {
  cursor: pointer;
  #icon {
    padding-left: 2rem;
    width: 1%;
    height: 2%;
  }
}

.results {
  width: 50%;
  margin: 3rem 0rem 10rem -0.2rem;
  border: 1px solid #efefef;
  .row {
    &> div {
      display: inline-block;
    }
    &> div:first-child {
      padding-left: 1rem;
      width: 30%;
    }
  }
  .t-row {
    width: 100%;
    &> div:first-child {
      padding-left: 0rem;
      width: 50%;
    }
  }
  &>div.row:nth-child(odd) {
    background-color:#efefef;
  }
}

#disqus_thread {
  border-top: 1px solid #eee;
}