<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="post-view-styles.html">

<dom-module id="post-view">
  <style include="post-view-styles"></style>
  <template>
    <iron-ajax id="getPost" handle-as="json" 
      on-response="_displayPost"></iron-ajax>
    <div class="post">
      <h1 class="post-title">[[title]]</h1>
      <div class="datetime">[[datetime]]</div>
      <template is="dom-if" if="[[!hasUrl]]">
        <div class="post-text" inner-h-t-m-l="[[body]]"></div>
      </template>
      <p>
        <a href="/#/home"> Home </a>
      </p>
      <div id="disqus_thread"></div>
    </div>
  </template>
  <script src="post-view.es5.js"></script>
</dom-module>
